<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2013 M.Nakamura
 *
 * This software is licensed under a Creative Commons
 * Attribution-NonCommercial-ShareAlike 2.1 Japan License.
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 		http://creativecommons.org/licenses/by-nc-sa/2.1/jp/legalcode
 -->
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.game.lupusintabula" 
	android:versionCode="18"
	android:versionName="0.2.18" 
	android:installLocation="auto">

	<uses-sdk 
	    android:minSdkVersion="8" 
	    android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET"/>

	<application 
	    android:allowBackup="true" 
	    android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" 
		android:theme="@style/AppTheme">
		<activity 
		    android:name="jp.game.lupusintabula.MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" 
			android:theme="@style/android:Theme.Black.NoTitleBar" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="jp.game.lupusintabula.AddPlayerActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Dialog" />
		<activity android:name="jp.game.lupusintabula.GameOverActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.GroupActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Dialog" />
		<activity android:name="jp.game.lupusintabula.HelpActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.JudgementActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.MorningActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.NightActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.NoonActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.OpeningActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.PlayerActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.PotionActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Dialog" />
		<activity android:name="jp.game.lupusintabula.RoleActionActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.RoleActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.RoleViewActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Dialog" />
		<activity android:name="jp.game.lupusintabula.VoteActivity" android:screenOrientation="portrait" />
		<activity android:name="jp.game.lupusintabula.VoteActionActivity" android:screenOrientation="portrait" />
		
	</application>

</manifest>